* {
  box-sizing: border-box;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font: italic bold 32px Arial, sans-serif;
  color: rgb(233, 220, 240);
  text-align: center;
  border: 4px groove rgb(169, 169, 207);
  background-color: #0a0a23;
  width: 100%;
  height: 100px;
}

.list {
  margin: 25px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  font: bold 16px Tahoma, sans-serif;
  list-style: none;
  text-decoration: underline;
  background-color: rgb(245, 230, 213);
  border: 2px solid rgb(61, 85, 109);
}
