h1 {
  font: italic bold 32px Verdana, sans-serif;
  color: rgb(76, 47, 92);
  text-align: center;
  border: 4px groove rgb(101, 101, 198);
}

.list {
  margin: 25px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  font: bold 16px Tahoma, sans-serif;
  list-style: none;
  text-decoration: underline;
  background-color: bisque;
  border: 2px solid rgb(61, 85, 109);
}
