h1 {
  font: italic bold 32px Verdana, sans-serif;
  color: rgb(76, 47, 92);
  text-decoration: underline;
  text-align: center;
  border: 4px dotted rgb(101, 101, 198);
}

.list {
  font: bold 16px Arial, sans-serif;
  line-height: 1.5;
}
